In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('USDA.csv')

In [3]:
df.head()

,SortOrder,Region,Region or State,Year,Total land,Total cropland,Cropland used for crops,Cropland used for pasture,Cropland idled,Grassland pasture and range,Forest-use land (all),Forest-use land grazed,Forest-use land not grazed,All special uses of land,Land in rural transportation facilities,Land in rural parks and wildlife areas,Land in defense and industrial areas,"Farmsteads, roads, and miscellaneous farmland",Land in urban areas,Other land
0,1,Northeast total,Northeast,1945,112402,25027,20904,2280,1842,10126,61788,9001,52787,6374,1910,2818,529,1118,3975,5112
1,2,Northeast total,Northeast,1949,112378,24557,20340,4217,N.A.,6928,62759,7097,55662,7797,1921,4234,524,1118,4126,6211
2,3,Northeast total,Northeast,1954,112378,22830,16635,3777,2418,7186,63537,5588,57949,7497,2032,4083,612,770,4137,7191
3,4,Northeast total,Northeast,1959,112324,20973,15189,3217,2567,7999,63845,3488,60357,7703,2100,4371,599,633,5821,5983
4,5,Northeast total,Northeast,1964,112223,19173,14016,2559,2598,7110,66637,3573,63064,8210,2120,4845,617,628,6186,4907

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 20 columns):
SortOrder                                        780 non-null int64
Region                                           780 non-null object
Region or State                                  780 non-null object
Year                                             780 non-null int64
Total land                                       780 non-null int64
Total cropland                                   780 non-null int64
Cropland used for crops                          780 non-null int64
Cropland used for pasture                        780 non-null int64
Cropland idled                                   780 non-null object
Grassland pasture and range                      780 non-null int64
Forest-use land (all)                            780 non-null int64
Forest-use land grazed                           780 non-null int64
Forest-use land not grazed                       780 non-null int64
All special uses of land                         780 non-null int64
Land in rural transportation facilities          780 non-null int64
Land in rural parks and wildlife areas           780 non-null int64
Land in defense and industrial areas             780 non-null int64
Farmsteads, roads, and miscellaneous farmland    780 non-null int64
Land in urban areas                              780 non-null int64
Other land                                       780 non-null int64
dtypes: int64(17), object(3)
memory usage: 122.0+ KB

In [5]:
# Sorting the index using the SortOrder column just so it looks cleaner. 
df.set_index('SortOrder')

,Region,Region or State,Year,Total land,Total cropland,Cropland used for crops,Cropland used for pasture,Cropland idled,Grassland pasture and range,Forest-use land (all),Forest-use land grazed,Forest-use land not grazed,All special uses of land,Land in rural transportation facilities,Land in rural parks and wildlife areas,Land in defense and industrial areas,"Farmsteads, roads, and miscellaneous farmland",Land in urban areas,Other land
SortOrder,,,,,,,,,,,,,,,,,,,
1,Northeast total,Northeast,1945,112402,25027,20904,2280,1842,10126,61788,9001,52787,6374,1910,2818,529,1118,3975,5112
2,Northeast total,Northeast,1949,112378,24557,20340,4217,N.A.,6928,62759,7097,55662,7797,1921,4234,524,1118,4126,6211
3,Northeast total,Northeast,1954,112378,22830,16635,3777,2418,7186,63537,5588,57949,7497,2032,4083,612,770,4137,7191
4,Northeast total,Northeast,1959,112324,20973,15189,3217,2567,7999,63845,3488,60357,7703,2100,4371,599,633,5821,5983
5,Northeast total,Northeast,1964,112223,19173,14016,2559,2598,7110,66637,3573,63064,8210,2120,4845,617,628,6186,4907
6,Northeast total,Northeast,1969,112129,17853,12204,3669,1980,3162,71241,2238,69003,8525,2037,5413,475,600,6632,4716
7,Northeast total,Northeast,1974,112129,17334,12937,3106,1291,3390,69730,1902,67828,8315,1915,5580,459,361,7157,6203
8,Northeast total,Northeast,1978,112129,17501,13155,3117,1229,2963,68061,2147,65914,8680,1839,6007,449,385,8993,5931
9,Northeast total,Northeast,1982,111730,16954,13600,2449,905,2612,68770,1700,67070,9121,2021,6304,445,351,9802,4471
10,Northeast total,Northeast,1987,111730,15707,11765,2301,1641,2777,68645,1668,67352,9827,1944,7115,445,323,9945,4454
11,Northeast total,Northeast,1992,111401,14337,11069,2035,1233,2987,68324,1409,67012,9549,1870,7001,401,278,10597,5601
12,Northeast total,Northeast,1997,111401,13402,10715,1847,840,2827,65897,1359,64883,9836,1875,7253,421,289,11407,7686
13,Northeast total,Northeast,2002,111390,13700,11417,1493,790,3025,65484,1472,64012,10404,1894,7418,412,681,12338,6439
14,Northeast total,Northeast,2007,111390,12967,11043,887,1036,4627,66774,511,66263,11214,1606,8345,438,702,12537,3272
15,Northeast total,Northeast,2012,111123,12220,10877,310,1033,4916,65670,464,65206,11491,1675,8830,434,552,13340,3486
16,Northeast,Maine,1945,19866,1490,1331,74,85,439,16751,992,15759,449,165,182,11,91,97,640
17,Northeast,Maine,1949,19866,1407,1186,221,N.A.,273,16685,783,15902,482,169,209,13,91,104,915
18,Northeast,Maine,1954,19866,1274,818,236,220,254,16901,580,16321,471,172,237,18,44,113,853
19,Northeast,Maine,1959,19848,1186,717,171,298,291,17073,201,16872,509,172,279,22,36,173,616
20,Northeast,Maine,1964,19797,1002,603,143,256,283,17244,159,17085,531,172,302,23,34,176,561
21,Northeast,Maine,1969,19789,735,491,119,125,174,17605,165,17440,572,187,336,21,28,201,502
22,Northeast,Maine,1974,19789,653,456,101,96,142,17505,114,17391,565,189,339,19,18,214,710
23,Northeast,Maine,1978,19789,689,491,98,100,118,17474,115,17359,371,172,161,19,19,559,578
24,Northeast,Maine,1982,19837,629,475,87,67,94,17565,95,17470,408,184,188,19,17,605,536
25,Northeast,Maine,1987,19837,577,390,87,100,72,17437,91,17346,429,173,222,18,16,612,710
26,Northeast,Maine,1992,19753,591,410,73,108,38,17461,83,17378,453,176,250,13,14,476,735
27,Northeast,Maine,1997,19753,466,324,65,77,37,16952,53,16899,520,169,322,15,14,581,1197
28,Northeast,Maine,2002,19752,478,344,48,86,42,16951,60,16892,589,192,327,26,45,223,1468
29,Northeast,Maine,2007,19752,462,341,37,85,105,17355,26,17328,601,187,343,24,46,223,1007
30,Northeast,Maine,2012,19740,390,328,8,55,159,17191,48,17143,609,198,356,21,34,231,1159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,Pacific,Oregon,1945,61664,4909,3303,566,1040,25176,29387,14237,15150,1211,344,342,308,217,146,835
857,Pacific,Oregon,1949,61642,5537,3596,969,972,24340,29306,20118,9188,1400,367,669,147,217,197,862
858,Pacific,Oregon,1954,61642,5282,4252,807,223,25561,28931,15050,13881,1396,380,670,163,183,184,288
859,Pacific,Oregon,1959,61599,5474,4184,942,348,23217,29310,12706,16604,1428,398,707,173,150,273,1897
860,Pacific,Oregon,1964,61574,5425,4103,927,395,22709,29688,12377,17311,2243,415,1511,156,161,291,1218
861,Pacific,Oregon,1969,61557,5145,3818,1077,250,22756,29387,11645,17742,2158,421,1541,66,130,323,1788
862,Pacific,Oregon,1974,61557,5276,4242,815,219,23172,29387,11302,18085,2273,428,1675,66,104,382,1067
863,Pacific,Oregon,1978,61557,5247,4217,815,215,23119,28498,11921,16577,2659,418,2055,66,120,432,1602
864,Pacific,Oregon,1982,61558,5357,4324,858,175,22011,29477,12650,16827,2707,450,2070,66,121,471,1535
865,Pacific,Oregon,1987,61558,5384,3695,858,831,22913,26278,11859,14419,3568,450,2986,18,114,519,2896
866,Pacific,Oregon,1992,61441,5281,3720,818,743,22456,26614,11841,14773,3612,450,3033,23,106,565,2913
867,Pacific,Oregon,1997,61441,5339,3853,919,566,22395,26664,11699,14965,3594,454,2970,44,126,610,2840
868,Pacific,Oregon,2002,61438,5311,3626,1003,681,23239,27169,11558,15611,3946,534,3159,76,177,662,1112
869,Pacific,Oregon,2007,61438,4934,3560,677,696,22726,27813,10356,17456,4303,466,3578,84,175,675,987
870,Pacific,Oregon,2012,61432,4664,3522,308,834,23863,24116,10060,14056,4151,458,3446,128,119,719,3919
871,Pacific,California,1945,100354,11363,7644,2196,1523,22555,43891,15633,28258,8685,1031,4706,2385,563,1463,12397
872,Pacific,California,1949,100314,13765,8944,3530,1291,27544,44810,22090,22720,9005,1036,4945,2461,563,2166,3024
873,Pacific,California,1954,100314,13251,9792,3018,441,26661,39398,17790,21608,10558,1206,4702,4219,431,1571,8875
874,Pacific,California,1959,100207,12607,9366,3033,208,22621,39402,16907,22495,10295,1174,4938,3810,373,2456,12826
875,Pacific,California,1964,100184,11841,8983,2053,805,23280,39406,15563,23843,12218,1189,6837,3800,392,2882,10557
876,Pacific,California,1969,100071,10879,8242,1844,793,22856,39826,12825,27001,12532,1143,7202,3828,359,3191,10787
877,Pacific,California,1974,100071,11143,9276,1404,463,23910,39826,12449,27377,12742,1183,7401,3903,255,3550,8900
878,Pacific,California,1978,100071,11721,9457,1628,636,22890,37035,13400,23635,13197,1058,7976,3875,288,4007,11221
879,Pacific,California,1982,100031,11566,9579,1345,642,22580,37043,13000,24043,13827,1078,8686,3764,299,4448,10567
880,Pacific,California,1987,100031,11487,8689,1338,1460,21833,36441,12751,23690,14769,1088,10501,2889,291,5224,10277
881,Pacific,California,1992,99823,10412,8017,1227,1168,24434,34679,10687,23992,13372,1019,10985,1097,271,5572,11353
882,Pacific,California,1997,99823,10628,8676,1246,706,22343,32579,11761,20818,20996,1029,17932,1761,274,5922,7355
883,Pacific,California,2002,99814,10655,8591,1345,719,21729,33780,12070,21709,21558,1148,18299,1768,344,5095,6997
884,Pacific,California,2007,99814,9550,8084,809,657,27524,26983,12810,14172,25377,1090,19831,4094,362,5166,5213
885,Pacific,California,2012,99699,9577,8316,481,780,26667,16991,13409,3582,24896,1062,19623,3935,275,5299,16269

## Question 1: Which region had the most "Grassland pasture and range" in 1974?

In [6]:
# I used a pivot table to create a dataframe with the values I want to sort through. 
df1 = df.pivot_table(values='Grassland pasture and range', index='Year', columns='Region')
df1

Region,Appalachian,Appalachian total,Corn Belt,Corn Belt total,Delta States,Delta States total,Lake States,Lake States total,Mountain,Mountain total,Northeast,Northeast total,Northern Plains,Northern Plains total,Pacific,Pacific total,Southeast,Southeast total,Southern Plains,Southern Plains total
Year,,,,,,,,,,,,,,,,,,,,
1945,2486.75,13631.0,5265.2,26326.0,2405.000000,7215.0,3355.333333,10066.0,41828.142857,339243.0,327.285714,10126.0,20573.75,82295.0,18941.333333,56824.0,2171.50,8686.0,52543.0,105086.0
1949,1854.75,9115.0,3312.6,16563.0,2005.666667,6017.0,2050.333333,6151.0,42786.571429,347861.0,216.571429,6928.0,19263.75,77055.0,20183.333333,60550.0,1694.00,6776.0,47031.0,94062.0
1954,2097.50,10149.0,3366.0,16830.0,2833.666667,8501.0,2095.666667,6287.0,40344.000000,330892.0,216.285714,7186.0,19600.50,78402.0,19950.000000,59850.0,2491.75,9967.0,52176.5,104353.0
1959,2528.25,12984.0,4361.2,21806.0,3119.333333,9358.0,2755.333333,8266.0,38063.142857,312832.0,215.142857,7999.0,19935.75,79743.0,17988.333333,53965.0,3484.75,13939.0,54619.5,109239.0
1964,2186.50,10778.0,4067.0,20335.0,3144.333333,9433.0,2828.333333,8485.0,38367.571429,314399.0,155.428571,7110.0,20168.75,80675.0,18102.333333,54307.0,3141.00,12564.0,59189.0,118378.0
1969,1639.00,8427.0,2789.6,13948.0,2811.000000,8433.0,2058.333333,6175.0,38223.857143,313478.0,94.714286,3162.0,18235.00,72940.0,17531.333333,52594.0,2624.50,10498.0,55674.5,111349.0
1974,1371.25,7498.0,2738.6,13693.0,2483.000000,7449.0,1763.333333,5290.0,37347.000000,307445.0,74.428571,3390.0,18321.25,73285.0,17920.333333,53761.0,2835.25,11341.0,56019.0,112038.0
1978,1115.75,5764.0,2402.0,12010.0,1925.666667,5777.0,1571.666667,4715.0,37281.571429,306508.0,63.142857,2963.0,18302.00,73208.0,17531.666667,52595.0,2321.25,9285.0,55738.5,111477.0
1982,1163.50,6323.0,2632.0,13160.0,2463.333333,7390.0,1859.666667,5579.0,36989.857143,304523.0,73.000000,2612.0,17424.00,69696.0,17432.000000,52296.0,2596.75,10387.0,61143.0,122286.0
1987,1226.25,6558.0,2568.6,12843.0,2435.666667,7307.0,1823.666667,5471.0,36731.000000,302263.0,61.285714,2777.0,16784.50,67138.0,17327.000000,51981.0,2511.00,10044.0,61205.0,122410.0
1992,1150.75,5962.0,2465.0,12325.0,2119.000000,6357.0,1759.333333,5278.0,36944.285714,303515.0,51.714286,2987.0,17423.75,69695.0,18160.000000,54480.0,2445.00,9780.0,59332.5,118665.0
1997,987.75,5442.0,2316.0,11579.0,1844.666667,5533.0,1664.666667,4995.0,36826.142857,302658.0,52.142857,2827.0,17077.75,68311.0,17381.333333,52144.0,2279.00,9117.0,57686.5,115373.0
2002,987.25,6253.0,2615.8,13078.0,2082.000000,6246.0,1798.000000,5393.0,36928.428571,302823.0,53.142857,3025.0,17759.00,71036.0,17445.666667,52338.0,2070.25,8282.0,57875.5,115750.0
2007,1759.00,10551.0,3277.8,16390.0,2402.666667,7209.0,2495.000000,7486.0,36963.428571,303397.0,82.000000,4627.0,18706.75,74827.0,19013.000000,57040.0,2571.75,10288.0,60221.0,120442.0
2012,2287.00,13890.0,3639.8,18200.0,3039.000000,9116.0,2804.666667,8414.0,40111.571429,326867.0,100.857143,4916.0,19941.50,79766.0,19281.333333,57843.0,2662.00,10648.0,62179.5,124359.0

In [7]:
# I selected the row of 1974 using the .loc method and sorted the values from max to min. 
df1.loc[1974].sort_values(ascending=False)

Region
Mountain total           307445.000000
Southern Plains total    112038.000000
Northern Plains total     73285.000000
Southern Plains           56019.000000
Pacific total             53761.000000
Mountain                  37347.000000
Northern Plains           18321.250000
Pacific                   17920.333333
Corn Belt total           13693.000000
Southeast total           11341.000000
Appalachian total          7498.000000
Delta States total         7449.000000
Lake States total          5290.000000
Northeast total            3390.000000
Southeast                  2835.250000
Corn Belt                  2738.600000
Delta States               2483.000000
Lake States                1763.333333
Appalachian                1371.250000
Northeast                    74.428571
Name: 1974, dtype: float64

### Ansewer 1: Region is Mountain (total) as it had 307445 grassland pasture and range in 1974.

## Question 2: How many states had at least 2,000 in the “Land in Urban areas” column for any year prior to 1987?

In [8]:
# I used a pivot table to create a dataframe with the values I want to sort through.
df2 = df.pivot_table(values='Land in urban areas', index='Region or State', columns='Year')
df2

Year,1945,1949,1954,1959,1964,1969,1974,1978,1982,1987,1992,1997,2002,2007,2012
Region or State,,,,,,,,,,,,,,,
Alabama,212,428,475,774,813,653,707,1408,1555,1834,1779,2000,1139,1140,1467
Appalachian,1096,1334,1508,2178,2317,2650,3133,4117,4685,5475,5552,6192,6534,6677,8098
Arizona,44,76,82,312,380,411,530,799,977,1194,1371,1746,1080,1099,1465
Arkansas,152,192,213,282,303,333,420,567,638,784,860,931,582,589,727
California,1463,2166,1571,2456,2882,3191,3550,4007,4448,5224,5572,5922,5095,5166,5299
Colorado,106,131,151,230,256,336,430,546,663,792,909,1070,814,831,1012
Connecticut,260,279,253,407,453,514,548,713,778,770,850,910,1133,1153,1178
Corn Belt,2651,2950,3253,4354,4534,5053,5462,6311,6729,7365,7626,8290,7987,8102,9086
Delaware,23,23,38,62,70,79,87,106,118,134,146,154,195,200,274
Delta States,649,841,815,1118,1194,1200,1407,1849,2122,2416,2717,3065,2251,2284,2756
Florida,513,773,634,1003,1155,1442,1891,2397,2867,3643,3358,3902,3960,4052,4901
Georgia,362,440,495,765,831,822,928,1347,1571,1891,1923,2132,2407,2465,3207
Idaho,61,74,63,96,98,106,141,146,163,187,223,233,263,269,331
Illinois,729,809,890,1142,1194,1385,1500,1671,1796,1905,2022,2215,2302,2341,2573
Indiana,339,398,416,583,608,790,906,979,1040,1191,1179,1325,1423,1450,1657
Iowa,413,456,445,530,530,456,477,655,677,746,712,801,521,521,628
Kansas,186,227,242,299,305,370,435,478,536,636,614,693,554,562,637
Lake States,1513,1784,1836,2653,2760,2629,2826,3567,3880,4081,4010,4428,4170,4218,4705
Louisiana,339,439,390,535,575,513,537,737,865,883,1109,1282,1070,1088,1299
Maine,97,104,113,173,176,201,214,559,605,612,476,581,223,223,231
Massachusetts,456,452,479,752,781,897,992,1234,1340,1125,1422,1515,1807,1837,1935
Michigan,653,803,819,1133,1186,1248,1355,1482,1566,1632,1760,1896,2153,2189,2355
Minnesota,454,499,493,778,804,688,731,1216,1383,1466,1197,1419,966,966,1116
Mississippi,158,210,212,301,316,354,450,545,619,749,748,852,599,607,730
Missouri,350,400,496,596,618,749,855,974,1067,1237,1298,1390,1170,1186,1345
Montana,49,59,58,74,77,75,90,111,127,142,171,196,168,171,195
Mountain,634,867,786,1254,1414,1548,1957,2620,3138,3723,4509,5435,3713,3779,4803
Nebraska,140,152,137,163,168,173,201,223,243,269,264,294,293,298,344
Nevada,27,47,41,53,78,125,184,215,262,300,631,801,350,356,520
New Hampshire,61,66,67,90,97,151,163,350,367,412,329,376,357,359,423
New Mexico,117,187,155,198,212,225,279,339,384,471,541,636,484,493,539
North Carolina,341,360,410,596,631,683,832,1078,1255,1477,1562,1760,2294,2357,3086
North Dakota,44,55,55,66,68,62,78,90,102,112,111,129,94,95,123
Northeast,3975,4126,4137,5821,6186,6632,7157,8993,9802,9945,10597,11407,12338,12537,13340
Northern Plains,435,514,512,615,630,685,807,893,991,1143,1127,1266,1049,1063,1256
Ohio,820,887,1006,1503,1584,1673,1724,2032,2149,2286,2415,2559,2570,2603,2883
Oklahoma,190,230,237,505,535,506,535,1060,1250,1471,1293,1473,736,736,856
Oregon,146,197,184,273,291,323,382,432,471,519,565,610,662,675,719
Pacific,1857,2722,2085,3218,3681,4117,4621,5215,5815,6755,7377,7903,7124,7239,7571
Rhode Island,97,91,102,126,130,151,154,170,173,190,202,214,250,254,258
South Carolina,192,235,254,362,380,406,516,700,822,1005,982,1102,1201,1230,1591
South Dakota,65,80,78,87,89,80,93,102,110,126,138,150,108,109,152
Southeast,1279,1876,1858,2904,3179,3323,4042,5852,6815,8373,8042,9136,8707,8887,11167
Southern Plains,923,1269,1771,3006,3267,3003,3144,4801,5672,6632,6403,7170,5321,5382,6661
Tennessee,231,278,335,519,554,710,805,1197,1353,1650,1572,1695,1566,1594,1920
Texas,733,1039,1534,2501,2732,2497,2609,3741,4422,5161,5110,5697,4585,4646,5805
Utah,195,248,197,243,264,221,240,384,459,526,497,549,444,450,614
Vermont,46,50,45,52,53,42,42,70,85,93,103,120,95,96,101
Virginia,211,344,369,551,612,727,863,1115,1267,1404,1471,1654,1526,1555,1744
Washington,248,359,330,489,508,603,689,776,896,1012,1240,1371,1367,1397,1553
West Virginia,144,155,175,198,194,147,156,189,210,236,254,288,364,372,420
Wisconsin,406,482,524,742,770,693,740,869,931,983,1053,1113,1051,1063,1234

In [9]:
# I dropped columns and rows not needed to clean the data. 
df2.drop([1987,1992,1997,2002,2007,2012],axis=1,inplace=True)
df2.drop(['Appalachian','Corn Belt','Delta States','Lake States','Mountain','Northeast','Northern Plains','Pacific','Southeast','Southern Plains'],inplace=True)

In [10]:
# Using a conditional statement, I filtered the data to only show values equals or larger than 2000 and then dropped states with nan values.  
df2[df2>=2000.0].dropna(how='all')

Year,1945,1949,1954,1959,1964,1969,1974,1978,1982
Region or State,,,,,,,,,
California,NaN,2166.0,NaN,2456.0,2882.0,3191.0,3550.0,4007.0,4448.0
Florida,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2397.0,2867.0
Ohio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2032.0,2149.0
Texas,NaN,NaN,NaN,2501.0,2732.0,2497.0,2609.0,3741.0,4422.0

### Answer 2: California, Florida, Ohio,  and Texas.

## Question 3: What is the average value of the “Cropland used for pasture” column among all states within the Pacific and Mountain regions for 1964?

In [11]:
# I used a pivot table to create a dataframe with the values I want to sort through.
df3 = df.pivot_table(values='Cropland used for pasture', index='Year', columns='Region')
df3

Region,Appalachian,Appalachian total,Corn Belt,Corn Belt total,Delta States,Delta States total,Lake States,Lake States total,Mountain,Mountain total,Northeast,Northeast total,Northern Plains,Northern Plains total,Pacific,Pacific total,Southeast,Southeast total,Southern Plains,Southern Plains total
Year,,,,,,,,,,,,,,,,,,,,
1945,1066.75,8305.0,2272.4,11362.0,1177.333333,3532.0,1631.000000,4893.0,252.285714,1878.0,62.428571,2280.0,795.00,3180.0,1067.000000,3201.0,609.75,2439.0,3189.0,6378.0
1949,1485.00,11205.0,2987.8,14939.0,1960.000000,5880.0,1910.000000,5730.0,543.857143,4212.0,131.285714,4217.0,1168.00,4672.0,1738.000000,5214.0,1075.75,4303.0,4480.0,8960.0
1954,1356.50,10306.0,2743.2,13716.0,1963.666667,5891.0,1901.000000,5703.0,497.714286,3929.0,125.000000,3777.0,988.00,3952.0,1482.000000,4446.0,1156.75,4627.0,4861.5,9723.0
1959,1357.25,9498.0,2564.4,12822.0,1977.333333,5932.0,1552.333333,4657.0,607.142857,4838.0,97.000000,3217.0,1173.75,4695.0,1566.333333,4699.0,1074.25,4297.0,5393.0,10786.0
1964,1221.25,9457.0,2245.6,11228.0,1624.333333,4873.0,1406.333333,4219.0,572.428571,4574.0,81.142857,2559.0,1039.75,4159.0,1254.666667,3764.0,898.25,3593.0,4468.5,8937.0
1969,1878.00,12428.0,3377.2,16886.0,2228.000000,6684.0,1764.333333,5293.0,732.142857,5726.0,90.142857,3669.0,2818.25,11273.0,1251.666667,3755.0,1408.50,5634.0,8416.5,16833.0
1974,1757.25,11516.0,3023.2,15116.0,2124.666667,6374.0,1554.666667,4664.0,651.571429,5121.0,73.428571,3106.0,3052.25,12209.0,969.000000,2907.0,1438.25,5753.0,7965.5,15931.0
1978,1628.50,10648.0,2799.4,13997.0,1861.000000,5583.0,1295.333333,3886.0,620.142857,4814.0,79.428571,3117.0,2356.25,9425.0,1019.000000,3057.0,1318.50,5274.0,8163.5,16327.0
1982,1403.25,9066.0,2187.4,10937.0,1470.666667,4412.0,1000.333333,3001.0,589.285714,4586.0,62.142857,2449.0,2378.25,9513.0,938.333333,2815.0,1081.25,4325.0,6944.5,13889.0
1987,1336.50,8748.0,2078.0,10390.0,1337.000000,4011.0,934.333333,2803.0,673.142857,5262.0,59.142857,2301.0,2490.25,9961.0,925.000000,2775.0,1017.25,4069.0,7307.0,14614.0
1992,1404.75,9073.0,2019.0,10095.0,1423.333333,4270.0,879.666667,2639.0,715.571429,5730.0,49.857143,2035.0,2650.25,10601.0,865.333333,2596.0,1052.00,4208.0,7757.5,15515.0
1997,1434.50,8943.0,1978.8,9894.0,1362.333333,4087.0,833.333333,2500.0,686.000000,5562.0,43.142857,1847.0,2443.25,9773.0,897.666667,2693.0,1117.00,4468.0,8847.5,17695.0
2002,1137.50,7151.0,1451.2,7255.0,1189.333333,3568.0,641.000000,1923.0,899.714286,7211.0,30.714286,1493.0,2050.50,8201.0,949.000000,2847.0,910.25,3641.0,9249.0,18498.0
2007,555.25,3770.0,735.4,3677.0,713.333333,2140.0,483.666667,1452.0,666.714286,5088.0,20.142857,887.0,1079.00,4316.0,619.333333,1858.0,513.00,2052.0,5359.5,10718.0
2012,176.25,1032.0,216.4,1082.0,188.333333,566.0,142.000000,426.0,296.000000,2329.0,6.857143,310.0,406.25,1625.0,304.666667,914.0,151.25,605.0,1927.5,3855.0

In [12]:
# I selected both columns and took the mean value. 
df3[['Mountain total','Pacific total']].loc[1964].mean()

4169.0

### Answer 3: Average values for Mountain total and Pacific total in 1964 = 4169

## Question 4: Consider the original 13 colonies of England which became what is now the United States. Of the states that have land within the territory of those 13 colonies, which state made the largest contribution to its region's total “Forest-use land” in 2012?

In [14]:
# I used a pivot table to create a dataframe with the values I want to sort through.
df4 = df.pivot_table(values='Forest-use land (all)', index='Year', columns='Region or State')
df4

Region or State,Alabama,Appalachian,Arizona,Arkansas,California,Colorado,Connecticut,Corn Belt,Delaware,Delta States,...,Southeast,Southern Plains,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin
Year,,,,,,,,,,,,,,,,,,,,,
1945,18748,63669,19466,19928,43891,19533,1833,28954,442,51404,...,72994,46318,11899,35737,8462,3356,14488,23268,9434,15983
1949,18817,64476,19206,20020,44810,19103,1900,29455,442,52715,...,74926,47184,11911,36545,8453,3835,14561,23044,9854,16914
1954,20766,68021,18412,19295,39398,19523,1979,31033,454,51641,...,78114,43099,12301,32810,15409,3720,15527,21576,9866,16497
1959,20771,69311,18278,19891,39402,20913,1979,30270,392,53245,...,76855,37901,13758,27850,15398,3725,15131,21151,9907,15564
1964,21749,73021,19798,20630,39406,21351,1979,30407,391,54624,...,78992,33071,13643,23892,14187,4280,16059,20725,11423,15539
1969,21748,73132,17420,18237,39826,19387,2119,31115,390,50471,...,77061,32990,12820,24064,14720,4384,16075,20739,12126,14892
1974,21333,73133,17420,18236,39826,19387,1846,29128,390,50470,...,76256,33339,12820,24043,14720,4384,16076,20534,12126,14891
1978,21333,71876,17475,18230,37035,20009,1831,27789,390,49453,...,75078,31674,12820,23203,14933,4450,16009,20349,11509,14840
1982,21179,70898,17846,17324,37043,19809,1745,27841,394,47827,...,73356,20890,12965,14080,15443,4432,15872,18557,11509,14877
1987,21659,70469,17257,16896,36441,18837,1751,29119,388,47443,...,73500,20506,12863,13536,14793,4424,15497,17857,11799,15058
1992,21941,71614,15968,17423,34679,18837,1693,31270,386,48269,...,73434,21670,13275,14548,14078,4474,15353,17985,11916,15257
1997,21911,71495,16306,18392,32579,18781,1557,31322,376,50672,...,71938,18000,13265,11767,13832,4462,15345,17418,11899,15701
2002,22922,71539,17608,18373,33780,18925,1436,31304,376,50667,...,73661,18007,13656,11774,14905,4483,15372,17347,11900,15701
2007,22587,70819,16780,18596,26983,18236,1413,34264,383,52317,...,75150,24779,13913,17159,16058,4504,15350,19225,11833,16168
2012,22800,70629,13000,18544,16991,15138,1346,35437,331,52684,...,76004,22013,13500,14357,9810,4476,15385,18081,11780,16727

In [15]:
# I selected the row of 2012 using the .loc method and sorted the values from max to min.
df4.loc[2012].sort_values(ascending=False)

Region or State
Mountain           98845
Southeast          76004
Appalachian        70629
Northeast          65670
Pacific            59188
Delta States       52684
Lake States        51918
Corn Belt          35437
Georgia            24352
Oregon             24116
Alabama            22800
Southern Plains    22013
Mississippi        19495
Michigan           19262
Arkansas           18544
Montana            18429
Washington         18081
North Carolina     18078
Maine              17191
California         16991
Idaho              16771
Wisconsin          16727
Minnesota          15929
Florida            15827
Virginia           15385
Colorado           15138
Missouri           15085
Louisiana          14645
Texas              14357
Tennessee          13500
New Mexico         13278
South Carolina     13025
Arizona            13000
West Virginia      11780
Utah                9810
Ohio                7864
Oklahoma            7656
Northern Plains     6178
Nevada              5417
Illinois            4772
Indiana             4748
Vermont             4476
New Hampshire       4341
Iowa                2968
Kansas              2402
Massachusetts       2088
South Dakota        1789
Nebraska            1470
Connecticut         1346
North Dakota         517
Delaware             331
Rhode Island         290
Name: 2012, dtype: int64

### Answer 4 : Georgia had the largest contribution of its forest use land in 2012 with 24352.

## Question 5: Which region has had the largest shift in its land use between 1945 and 2012? Please explain your reasoning, including the data that you used to reach that conclusion.

In [16]:
# I used a pivot table to create a dataframe with the values I want to sort through.Then I dropped unwanted columns. 
df5 = df.pivot_table(values='All special uses of land', index='Year', columns='Region')
df55 = df5.drop(['Appalachian','Corn Belt','Delta States','Lake States','Mountain','Northeast','Northern Plains','Pacific','Southeast','Southern Plains'],axis=1)

In [17]:
df55

Region,Appalachian total,Corn Belt total,Delta States total,Lake States total,Mountain total,Northeast total,Northern Plains total,Pacific total,Southeast total,Southern Plains total
Year,,,,,,,,,,
1945,5767.0,7378.0,3085.0,5517.0,27443.0,6374.0,7125.0,12117.0,5212.0,5001.0
1949,6091.0,7557.0,3507.0,7400.0,23499.0,7797.0,7230.0,12474.0,5696.0,5799.0
1954,6092.0,7598.0,3556.0,7095.0,25352.0,7497.0,7324.0,14745.0,6618.0,5760.0
1959,6347.0,7664.0,3772.0,7792.0,28647.0,7703.0,7603.0,14621.0,7035.0,6098.0
1964,6510.0,7784.0,3874.0,7998.0,39747.0,8210.0,8143.0,18948.0,7352.0,6740.0
1969,5989.0,7222.0,3162.0,7621.0,40707.0,8525.0,6410.0,19521.0,7232.0,5880.0
1974,6005.0,7116.0,3171.0,7709.0,41821.0,8315.0,6143.0,19663.0,7738.0,5728.0
1978,6901.0,7637.0,3358.0,8328.0,45765.0,8680.0,6671.0,21106.0,8633.0,5926.0
1982,7094.0,7710.0,3470.0,8414.0,48302.0,9121.0,6692.0,21890.0,8503.0,6083.0
1987,7410.0,7338.0,3566.0,12203.0,48975.0,9827.0,6339.0,24974.0,8630.0,6011.0
1992,7622.0,7264.0,3710.0,9024.0,53937.0,9549.0,6330.0,23284.0,9244.0,6425.0
1997,7631.0,7444.0,3693.0,9049.0,50947.0,9836.0,6106.0,31228.0,8984.0,6840.0
2002,8891.0,8432.0,4419.0,9803.0,55137.0,10404.0,7137.0,32343.0,9099.0,7110.0
2007,8869.0,9411.0,4500.0,10130.0,62537.0,11214.0,8170.0,36821.0,9698.0,7951.0
2012,8849.0,8790.0,4569.0,9992.0,63420.0,11491.0,7197.0,36648.0,9554.0,8169.0

In [18]:
# I used the .std method to get the standard deviation values for all the regions between 1945-2012. The standard devation values represents the shift between values from year to year. 
df55.std().sort_values(ascending=False)

Region
Mountain total           12952.634919
Pacific total             8224.101681
Lake States total         1583.797456
Northeast total           1426.000644
Southeast total           1389.590375
Appalachian total         1109.480973
Southern Plains total      859.869879
Northern Plains total      667.143234
Corn Belt total            638.470121
Delta States total         473.628074
dtype: float64

### Answer 5: Mountain total with standard deviaiton of 12952.634919.